<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Ebook store</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	
	<script type="text/javascript" src="js/bookstore/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="js/bookstore/jquery.jcarousel.min.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/png-fix.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/bookstore/functions.js"></script>
</head>
<body>
	<!-- Header -->
	<div id="header" class="shell">
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li><a href="/paymerchant?coins=22" class="active">Home</a></li>
				<li><a href="/paymerchant?coins=22">Products</a></li>
				<li><a href="/paymerchant?coins=22">Promotions</a></li>
				<li><a href="/paymerchant?coins=22">Profile</a></li>
				<li><a href="/paymerchant?coins=22">About Us</a></li>
				<li><a href="/paymerchant?coins=22">Contacts</a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		<div class="cl">&nbsp;</div>
		<!-- Login-details -->
		<div id="login-details">
			<p>Welcome, <a href="/paymerchant?coins=22" id="user">Guest</a> .</p><p><a href="/paymerchant?coins=22" class="cart" ><img src="img/bs/cart-icon.png" alt="" /></a>Shopping Cart (0) <a href="/paymerchant?coins=22" class="sum">Rs0.00</a></p>
		</div>
		<!-- End Login-details -->
	</div>
	<!-- End Header -->
	<!-- Slider -->
	<div id="slider">
		<div class="shell">
			<ul>
				<li>
					<div class="image">
						<img src="img/bs/books.png" alt="" />
					</div>
					<div class="details">
						<h2>Bestsellers</h2>
						<h3>Special Offers</h3>
						<p class="title">Pellentesque congue lorem quis massa blandit non pretium nisi pharetra</p>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id odio in tortor scelerisque dictum. Phasellus varius sem sit amet metus volutpat vel vehicula nunc lacinia.</p>
						<a href="/paymerchant?coins=22" class="read-more-btn">Read More</a>
					</div>
				</li>
				<li>
					<div class="image">
						<img src="img/bs/books.png" alt="" />
					</div>
					<div class="details">
						<h2>Bestsellers</h2>
						<h3>Special Offers</h3>
						<p class="title">Pellentesque congue lorem quis massa blandit non pretium nisi pharetra</p>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id odio in tortor scelerisque dictum. Phasellus varius sem sit amet metus volutpat vel vehicula nunc lacinia.</p>
						<a href="/paymerchant?coins=22" class="read-more-btn">Read More</a>
					</div>
				</li>
				<li>
					<div class="image">
						<img src="img/bs/books.png" alt="" />
					</div>
					<div class="details">
						<h2>Bestsellers</h2>
						<h3>Special Offers</h3>
						<p class="title">Pellentesque congue lorem quis massa blandit non pretium nisi pharetra</p>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id odio in tortor scelerisque dictum. Phasellus varius sem sit amet metus volutpat vel vehicula nunc lacinia.</p>
						<a href="/paymerchant?coins=22" class="read-more-btn">Read More</a>
					</div>
				</li>
				<li>
					<div class="image">
						<img src="img/bs/books.png" alt="" />
					</div>
					<div class="details">
						<h2>Bestsellers</h2>
						<h3>Special Offers</h3>
						<p class="title">Pellentesque congue lorem quis massa blandit non pretium nisi pharetra</p>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id odio in tortor scelerisque dictum. Phasellus varius sem sit amet metus volutpat vel vehicula nunc lacinia.</p>
						<a href="/paymerchant?coins=22" class="read-more-btn">Read More</a>
					</div>
				</li>
			</ul>
			<div class="nav">
				<a href="/paymerchant?coins=22">1</a>
				<a href="/paymerchant?coins=22">2</a>
				<a href="/paymerchant?coins=22">3</a>
				<a href="/paymerchant?coins=22">4</a>
			</div>
		</div>
	</div>
	<!-- End Slider -->
	<!-- Main -->
	<div id="main" class="shell">
		<!-- Sidebar -->
		<div id="sidebar">
			<ul class="categories">
				<li>
					<h4>Categories</h4>
					<ul>
						<li><a href="/paymerchant?coins=22">Lorem ipsum dolor</a></li>
						<li><a href="/paymerchant?coins=22">Morbi eget</a></li>
						<li><a href="/paymerchant?coins=22">Nulla egestas</a></li>
						<li><a href="/paymerchant?coins=22">Curabitur venenatis</a></li>
						<li><a href="/paymerchant?coins=22">Ut dictum purus</a></li>
						<li><a href="/paymerchant?coins=22">Curabitur imperdiet</a></li>
						<li><a href="/paymerchant?coins=22">Aliquam elementum</a></li>
					</ul>
				</li>
				<li>
					<h4>Authors</h4>
					<ul>
						<li><a href="/paymerchant?coins=22">Lorem ipsum dolor</a></li>
						<li><a href="/paymerchant?coins=22">Morbi eget</a></li>
						<li><a href="/paymerchant?coins=22">Nulla egestas</a></li>
						<li><a href="/paymerchant?coins=22">Curabitur venenatis</a></li>
						<li><a href="/paymerchant?coins=22">Ut dictum purus</a></li>
						<li><a href="/paymerchant?coins=22">Curabitur imperdiet</a></li>
						<li><a href="/paymerchant?coins=22">Lorem ipsum dolor</a></li>
						<li><a href="/paymerchant?coins=22">Morbi eget</a></li>
						<li><a href="/paymerchant?coins=22">Nulla egestas</a></li>
						<li><a href="/paymerchant?coins=22">Curabitur venenatis</a></li>
						<li><a href="/paymerchant?coins=22">Ut dictum purus</a></li>
						<li><a href="/paymerchant?coins=22">Curabitur imperdiet</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- End Sidebar -->
		<!-- Content -->
		<div id="content">
			<!-- Products -->
			<div class="products">
				<h3>Featured Products</h3>
				<ul>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22" class="info">
								<span class="holder">
									<img src="img/bs/image01.jpg" alt="" />
									<span class="book-name">harry potter 1</span>
									<span class="author">by John Smith</span>
									<span class="description">Maecenas vehicula ante eu enim pharetra<br />scelerisque dignissim <br />sollicitudin nisi</span>
								</span>
							</a>
							<a href="/paymerchant?coins=22&name=harrypotter 1" class="buy-btn">BUY NOW <span class="price"><span class="low">Rs</span>22<span class="high">00</span></span></a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22" class="info">
								<span class="holder">
									<img src="img/bs/image02.jpg" alt="" />
									<span class="book-name">harry potter 2</span>
									<span class="author">by John Smith</span>
									<span class="description">Maecenas vehicula ante eu enim pharetra<br />scelerisque dignissim <br />sollicitudin nisi</span>
								</span>
							</a>
							<a href="/paymerchant?coins=22&name=harrypotter 2" class="buy-btn">BUY NOW <span class="price"><span class="low">Rs</span>22<span class="high">00</span></span></a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22" class="info">
								<span class="holder">
									<img src="img/bs/image03.jpg" alt="" />
									<span class="book-name">harry potter 3</span>
									<span class="author">by John Smith</span>
									<span class="description">Maecenas vehicula ante eu enim pharetra<br />scelerisque dignissim <br />sollicitudin nisi</span>
								</span>
							</a>
							<a href="/paymerchant?coins=22&name=harrypotter 3" class="buy-btn">BUY NOW <span class="price"><span class="low">Rs</span>22<span class="high">00</span></span></a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22" class="info">
								<span class="holder">
									<img src="img/bs/image04.jpg" alt="" />
									<span class="book-name">Book Name</span>
									<span class="author">by John Smith</span>
									<span class="description">Maecenas vehicula ante eu enim pharetra<br />scelerisque dignissim <br />sollicitudin nisi</span>
								</span>
							</a>
							<a href="/paymerchant?coins=22" class="buy-btn">BUY NOW <span class="price"><span class="low">Rs</span>22<span class="high">00</span></span></a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22" class="info">
								<span class="holder">
									<img src="img/bs/image05.jpg" alt="" />
									<span class="book-name">Book Name</span>
									<span class="author">by John Smith</span>
									<span class="description">Maecenas vehicula ante eu enim pharetra<br />scelerisque dignissim <br />sollicitudin nisi</span>
								</span>
							</a>
							<a href="/paymerchant?coins=22" class="buy-btn">BUY NOW <span class="price"><span class="low">Rs</span>22<span class="high">00</span></span></a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22" class="info">
								<span class="holder">
									<img src="img/bs/image06.jpg" alt="" />
									<span class="book-name">Book Name</span>
									<span class="author">by John Smith</span>
									<span class="description">Maecenas vehicula ante eu enim pharetra<br />scelerisque dignissim <br />sollicitudin nisi</span>
								</span>
							</a>
							<a href="/paymerchant?coins=22" class="buy-btn">BUY NOW <span class="price"><span class="low">Rs</span>22<span class="high">00</span></span></a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22" class="info">
								<span class="holder">
									<img src="img/bs/image07.jpg" alt="" />
									<span class="book-name">Book Name</span>
									<span class="author">by John Smith</span>
									<span class="description">Maecenas vehicula ante eu enim pharetra<br />scelerisque dignissim <br />sollicitudin nisi</span>
								</span>
							</a>
							<a href="/paymerchant?coins=22" class="buy-btn">BUY NOW <span class="price"><span class="low">Rs</span>22<span class="high">00</span></span></a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22" class="info">
								<span class="holder">
									<img src="img/bs/image08.jpg" alt="" />
									<span class="book-name">Book Name</span>
									<span class="author">by John Smith</span>
									<span class="description">Maecenas vehicula ante eu enim pharetra<br />scelerisque dignissim <br />sollicitudin nisi</span>
								</span>
							</a>
							<a href="/paymerchant?coins=22" class="buy-btn">BUY NOW <span class="price"><span class="low">Rs</span>22<span class="high">00</span></span></a>
						</div>
					</li>
				</ul>
			<!-- End Products -->
			</div>
			<div class="cl">&nbsp;</div>
			<!-- Best-sellers -->
			<div id="best-sellers">
				<h3>Best Sellers</h3>
				<ul>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22">
								<img src="img/bs/image-best01.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">Rs</span>35<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22">
								<img src="img/bs/image-best02.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">Rs</span>45<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22">
								<img src="img/bs/image-best03.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">Rs</span>15<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22">
								<img src="img/bs/image-best04.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">Rs</span>27<span class="high">99</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22">
								<img src="img/bs/image-best01.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">Rs</span>35<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22">
								<img src="img/bs/image-best02.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">Rs</span>45<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22">
								<img src="img/bs/image-best03.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">Rs</span>15<span class="high">00</span></span>
							</a>
						</div>
					</li>
					<li>
						<div class="product">
							<a href="/paymerchant?coins=22">
								<img src="img/bs/image-best04.jpg" alt="" />
								<span class="book-name">Book Name </span>
								<span class="author">by John Smith</span>
								<span class="price"><span class="low">Rs</span>27<span class="high">99</span></span>
							</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- End Best-sellers -->
		</div>
		<!-- End Content -->
		<div class="cl">&nbsp;</div>
	</div>
	<!-- End Main -->
	<!-- Footer -->
	<div id="footer" class="shell">
		<div class="top">
			<div class="cnt">
				<div class="col about">
					<h4>About BestSellers</h4>
					<p>Nulla porttitor pretium mattis. Mauris lorem massa, ultricies non mattis bibendum, semper ut erat. Morbi vulputate placerat ligula. Fusce <br />convallis, nisl a pellentesque viverra, ipsum leo sodales sapien, vitae egestas dolor nisl eu tortor. Etiam ut elit vitae nisl tempor tincidunt. Nunc sed elementum est. Phasellus sodales viverra mauris nec dictum. Fusce a leo libero. Cras accumsan enim nec massa semper eu hendrerit nisl faucibus. Sed lectus ligula, consequat eget bibendum eu, consequat nec nisl. In sed consequat elit. Praesent nec iaculis sapien. <br />Curabitur gravida pretium tincidunt.  </p>
				</div>
				<div class="col store">
					<h4>Store</h4>
					<ul>
						<li><a href="/paymerchant?coins=22">Home</a></li>
						<li><a href="/paymerchant?coins=22">Special Offers</a></li>
						<li><a href="/paymerchant?coins=22">Log In</a></li>
						<li><a href="/paymerchant?coins=22">Account</a></li>
						<li><a href="/paymerchant?coins=22">Basket</a></li>
						<li><a href="/paymerchant?coins=22">Checkout</a></li>
					</ul>
				</div>
				<div class="col" id="newsletter">
					<h4>Newsletter</h4>
					<p>Lorem ipsum dolor sit amet  consectetur. </p>
					<form action="" method="post">
						<input type="text" class="field" value="Your Name" title="Your Name" />
						<input type="text" class="field" value="Email" title="Email" />
						<div class="form-buttons"><input type="submit" value="Submit" class="submit-btn" /></div>
					</form>
				</div>
				<div class="cl">&nbsp;</div>
				<div class="copy">
					<p>&copy; <a href="/paymerchant?coins=22">BestSeller.com</a>. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
<link rel="stylesheet" href="css/bs/style.css" type="text/css" media="all" />
</html>