<%- include('partials/header')  %>


<div class="main">

    <!-- Sign up form -->
    <section class="signup" id="cpin">
        <div class="container1">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Set up Your Cpin</h2>
                    <div style="margin-bottom: 15px;">Note: Max length is 4*</div>
                    <form class="register-form" id="cpin-form">
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="cpin"  placeholder="Your Cpin" maxlength="4"/>
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="cpinConfirm" placeholder="Confirm Your Cpin" maxlength="4"/>
                        </div>
                    </form>
                    <button class="form-submit" id="cpin-submit" >Submit</button>
                </div>
            </div>
        </div>
    </section>


</div>







<!-- Font Icon -->
<link rel="stylesheet" href="logFiles/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="logFiles/css/style.css">
<script src="logFiles/vendor/jquery/jquery.min.js"></script>
<script src="logFiles/js/main.js"></script>
<%- include('partials/footer') %>   